<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".RecuperarClave"></activity>
        <activity android:name=".Modulos"></activity>
        <activity android:name=".ModuloMaya"></activity>
        <activity android:name=".ModuloBolt"></activity>
        <activity android:name=".ModuloSuperBolt"></activity>


        <activity android:name=".ModuloMayaVocales"></activity>
        <activity android:name=".ModuloMayaVocalesInicio"></activity>
        <activity android:name=".ModuloMayaVocalesNext"></activity>
        <activity android:name=".ModuloMayaVocalesContinuar"></activity>
        <activity android:name=".ModuloMayaVocalesContinuarDos"></activity>
        <activity android:name=".ModuloMayaNumeros"></activity>
        <activity android:name=".ModuloMayaNumerosUno"></activity>
        <activity android:name=".ModuloMayaNumerosDos"></activity>
        <activity android:name=".ModuloMayaNumerosTres"></activity>
        <activity android:name=".ModuloMayaNumerosCuatro"></activity>
        <activity android:name=".ModuloMayaNumerosCinco"></activity>
        <activity android:name=".ModuloMayaColores"></activity>
        <activity android:name=".ModuloMayaColorAmarillo"></activity>
        <activity android:name=".ModuloMayaColorAmarilloVideo"></activity>
        <activity android:name=".ModuloMayaColorAzul"></activity>
        <activity android:name=".ModuloMayaColorAzulVideo"></activity>
        <activity android:name=".ModuloMayaColorRojo"></activity>
        <activity android:name=".ModuloMayaColorRojoVideo"></activity>
        <activity android:name=".ModuloMayaAnimales"></activity>
        <activity android:name=".ModuloBoltCuentosInicio"></activity>
        <activity android:name=".ModuloBoltCuentosUno"></activity>
        <activity android:name=".ModuloBoltCuentosDos"></activity>
        <activity android:name=".ModuloBoltCuentosTres"></activity>
        <activity android:name=".ModuloBoltCuentosCuatro"></activity>
        <activity android:name=".ModuloBoltCuentosQuinto"></activity>
        <activity android:name=".ModuloMayaAnimalesUno"></activity>
        <activity android:name=".Registro" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>